.CommonAddEdit{
    padding: 26px;

    display: flex;
    flex-direction: column;

    width: 100%;

    &>* {
        margin-bottom: 10px;
    }

    .title {
        color: var(--title-darkblue);

        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
    }
}