.Menu{
    height: 100%;
    width: 250px;

    background-color: var(--background-grey);

    padding-top: 30px;

    button{
        width: 200px;
        height: 40px;
        margin-left: 20px;
        margin-bottom: 20px;
    }


}