.NavBar{
    display: flex;
    align-items: center;
    
    height: 70px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--main-white);
    width: 100%;

    position: fixed;
    z-index: 2;

    .title-navbar{
        margin: 0px 58px;

        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
        /* identical to box height */


        color: var(--title-darkblue);
    }

    .input-search{
        width: 232px;
        height: 37px;
        margin-left: 100px;

        padding-left: 20px;

        background: #FFFFFF;
        border: 2px solid #DFE1E6;
        box-sizing: border-box;
        border-radius: 5px;
        outline: none;

        &:focus{
            border: 2px solid var(--main-blue);
        }
    }

    .div-user-menu{
        display: flex;
        margin-left: auto;
        border: none;
        background-color: #FFFFFF;

        .btn-profile{
            display: flex;
            padding: 10px 0px 10px 10px;

            border-style: none;
            border-radius: 5px;
        }

        .profile-active{
            background-color: var(--main-blue);
            color: var(--main-white);
        }

        .profile-inactive{
            background-color: var(--main-white);
            color: #000;
        }

        .profile-inactive:hover{
            background-color: var(--background-grey);
        }

        .icon-chevron{
            margin: 0px 5px;
        }

        .username{
            align-items: center;
        }

        .icon-chevron{
            align-items: center;
        }
    }

    .profile-drop-down{
        position: absolute;
        top: 70px;
        width: 150px;
        border-bottom: 5px;

        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        
        // transform: translateX(55%);

        button{
            display: flex;
            justify-content: center;
            align-items: center;

            border: none;
            background-color: #FFFFFF;
            width: 100%;
            height: 50px;
            margin-top: 10px;

            svg{
                font-size: 20px;
                margin-right: 10px;
            }

            &:hover{
                background-color: var(--background-grey);
            }
        }
    }
}