.Common {
    padding: 26px;
    margin-left: 250px;

    
    // display: flex;
    // flex-direction: column;

    &>* {
        margin-bottom: 10px;
    }

    .title {
        color: var(--title-darkblue);

        font-weight: 600;
        font-size: 36px;
        line-height: 44px;
    }

    .div-btn-add {
        margin-right: auto;
        margin-left: 0;
    }

    .blue-btn {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        
        color: var(--main-white);
        background-color: var(--main-blue);

        border-style: none;
        border-radius: 5px;

        margin-right: 10px;
    }

    .red-btn{
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        
        color: var(--main-white);
        background-color: rgb(223, 44, 44);

        border-style: none;
        border-radius: 5px;

        margin-right: 10px;
    }

    .disabled {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;

        box-sizing: border-box;
        background-color: darkgray;

        color: white;

        border-style: none;
        border-radius: 5px;

        pointer-events: none;

        margin-right: 10px;
    }

    button {
        display: flex;
        align-items: center;


        padding: 10px 20px;


        .icon {
            margin-right: 5px;
            align-items: center;
        }
    }

    button:hover {
        opacity: 85%;
    }

    button:active {
        opacity: 100%;
    }

    .btn-add {
        align-self: flex-end;

        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: var(--main-white);

        border-style: none;
        border-radius: 5px;

        background-color: var(--main-blue);
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        border-radius: 1em;
        color: var(--title-darkblue);
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

        // display: block;

        // tbody{
        //     display: block;
        //     overflow: auto;
        //     height: auto;
        //     width:100%;
        // }

        // thead tr{
        //     display:block;
        // }

        thead {
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
        }

        th {
            padding: 10px 20px;
            letter-spacing: 0.1rem;
        }

        td {
            padding: 10px 20px;
        }

        tbody > tr:hover{
            background-color: var(--selected-grey);
        }

        input {
            width: 15px;
            height: 15px;
        }

        .checkbox {
            text-align: center;
        }

        .divider{
           margin-bottom: 5px;
        }

        .center {
            text-align: center;
        }

        .status {
            border-radius: 5px;
            padding: 5px;
            text-align: center;
        }

        .active {
            background-color: #c8e6c9;
            color: #388e3c;
        }

        .inactive {
            background-color: #ffcdd2;
            color: #c62828;
        }

        tr:nth-child(even) {
            background-color: #fbfcff;
        }
    
    }

    .div-home{
        margin-top: 30px;
        
        display: flex;
        justify-content: space-evenly;

        .introduction{
            display: flex;
        }

        .intro-pic{
            width: 300px;
        }

        .new{
            margin-bottom: 20px;
        }
        

        .section{
            flex: 1;
            height: auto;

            border-radius: 5px;

            margin: 0px 20px 0px 0px;

            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

            .title-2{
                font-size: 18px;

                background-color: var(--main-blue);
                color: var(--main-white);

                padding: 10px;

                border-top-left-radius: 5px;
                border-top-right-radius: 5px
            }

            .text-section{
                padding: 10px;

                .text{
                    span{
                        color: var(--main-blue);
                    }
                }
            }
        }
    }
    
    .div-btns {
        display: flex;
    }
}